[submodule "src/backend/state-service/stateservice/harmony-private-state-server"]
	path = src/backend/state-service/stateservice/harmony-private-state-server
	url = https://github.com/acs0209/harmony-private-state-server.git
