.main {
    width: 250px;
    height: 100vh;
    background-color: #2f3136;
    position: fixed;
    top: 0;
    left: 70px; /* 첫 번째 사이드바의 너비에 맞춰 설정 */
    padding: 8px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
.profile_img {
    width: 3.5rem; /* w-20 */
    height: 3.5rem; /* h-20 */
    background-color: #fff; /* bg-white */
    border-radius: 9999px; /* rounded-full */
}

.no-decoration {
    text-decoration: none;
}