.page-container {
  width: 100%;
  height: 100%;
  background-color: black;
}

.page-container:hover .media-title {
  opacity: 1;
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}
