.media-title {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  font-size: 1em;
  color: white;
  font-weight: bold;
}

.media-disconnect {
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  border-radius: 50px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  background-color: #a00000;
}

.media-disconnect:hover {
  cursor: pointer;
}
